In [1]:
import pandas as pd

In [6]:
data=pd.read_csv("sample_dataset_1.csv",header=None)

In [7]:
data

      0   1    2
0  bulb  20  6.5
1  tube  20  5.0
2   fan  20  6.0
3  tube  21  6.0
4  bulb  21  7.0
5  bulb  23  7.5
6   fan  23  6.0

In [8]:
data.columns=['item', 'user_id', 'rating']

In [9]:
data

   item  user_id  rating
0  bulb       20     6.5
1  tube       20     5.0
2   fan       20     6.0
3  tube       21     6.0
4  bulb       21     7.0
5  bulb       23     7.5
6   fan       23     6.0

In [10]:
data.isna()

    item  user_id  rating
0  False    False   False
1  False    False   False
2  False    False   False
3  False    False   False
4  False    False   False
5  False    False   False
6  False    False   False

In [14]:
sum(data["item"].isna())

0

In [15]:
data2=pd.read_csv("sample_dataset_2.csv",header=None)

In [16]:
data2

      0     1    2
0  bulb  20.0  NaN
1  tube  20.0  5.0
2   fan  20.0  6.0
3  tube   NaN  6.0
4  bulb  21.0  7.0
5   NaN  23.0  7.5
6   fan  23.0  6.0

In [17]:
data2.columns=['item', 'user_id', 'rating']

In [22]:
data2.isna()

    item  user_id  rating
0  False    False    True
1  False    False   False
2  False    False   False
3  False     True   False
4  False    False   False
5   True    False   False
6  False    False   False

In [31]:
data2.isna().sum()

item       1
user_id    1
rating     1
dtype: int64

In [29]:
sum(data2['item'].isna())

1

In [33]:
sum(data2["item"].isnull())

1

In [38]:
data2["item"]=data2["item"].fillna("ffill")

In [39]:
data2.isna().sum()

item       0
user_id    1
rating     1
dtype: int64

In [41]:
data.user_id=data.user_id.fillna('bfill')

In [42]:
data2.isna().sum()

item       0
user_id    1
rating     1
dtype: int64

In [46]:
import numpy as np

In [47]:
data2.rating=data2.rating.fillna(np.mean(data2.rating))

In [48]:
data2

    item  user_id  rating
0   bulb     20.0    6.25
1   tube     20.0    5.00
2    fan     20.0    6.00
3   tube      NaN    6.00
4   bulb     21.0    7.00
5  ffill     23.0    7.50
6    fan     23.0    6.00

In [49]:
data2.rating.mean()

6.25

In [50]:
data2.rating.median()

6.0

In [51]:
data2.rating.mode()

0    6.0
dtype: float64

In [52]:
np.median(data2.rating)

6.0