In [1]:
import numpy as np
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Mall_Customers.csv')

In [2]:
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
X = dataset.iloc[:, [3, 4]].values

In [16]:
from sklearn.cluster import DBSCAN
dbscan=DBSCAN(eps=4,min_samples=6)

In [17]:
model=dbscan.fit(X)

In [18]:
labels=model.labels_

In [19]:
set(labels)

{-1, 0, 1}

In [20]:
#identifying the points which makes up our core points
sample_cores=np.zeros_like(labels,dtype=bool)

sample_cores[dbscan.core_sample_indices_]=True

In [21]:
from sklearn import metrics
#Calculating the number of clusters

n_clusters=len(set(labels))- (1 if -1 in labels else 0)
print(n_clusters)


print(metrics.silhouette_score(X,labels))

2
-0.09522422310991059