In [3]:
glass=pd.read_csv("glass.csv")
glass.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [5]:
glass.shape

(214, 10)

In [6]:
glass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [7]:
glass.corr()

            RI        Na        Mg        Al        Si         K        Ca        Ba        Fe      Type
RI    1.000000 -0.191885 -0.122274 -0.407326 -0.542052 -0.289833  0.810403 -0.000386  0.143010 -0.164237
Na   -0.191885  1.000000 -0.273732  0.156794 -0.069809 -0.266087 -0.275442  0.326603 -0.241346  0.502898
Mg   -0.122274 -0.273732  1.000000 -0.481799 -0.165927  0.005396 -0.443750 -0.492262  0.083060 -0.744993
Al   -0.407326  0.156794 -0.481799  1.000000 -0.005524  0.325958 -0.259592  0.479404 -0.074402  0.598829
Si   -0.542052 -0.069809 -0.165927 -0.005524  1.000000 -0.193331 -0.208732 -0.102151 -0.094201  0.151565
K    -0.289833 -0.266087  0.005396  0.325958 -0.193331  1.000000 -0.317836 -0.042618 -0.007719 -0.010054
Ca    0.810403 -0.275442 -0.443750 -0.259592 -0.208732 -0.317836  1.000000 -0.112841  0.124968  0.000952
Ba   -0.000386  0.326603 -0.492262  0.479404 -0.102151 -0.042618 -0.112841  1.000000 -0.058692  0.575161
Fe    0.143010 -0.241346  0.083060 -0.074402 -0.094201 -0.007719  0.124968 -0.058692  1.000000 -0.188278
Type -0.164237  0.502898 -0.744993  0.598829  0.151565 -0.010054  0.000952  0.575161 -0.188278  1.000000

In [9]:
import sidetable
glass.stb.freq(['Type'], style=True, cum_cols=False)
#imbalanced data  
# as of now we will proceed with imbalanced data and after first model building i will change it

In [50]:
x=glass.drop(columns="Type")
y=glass[["Type"]]

In [51]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
scaler = StandardScaler()

In [53]:
x.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe'], dtype='object')

In [55]:
print(scaler.fit(x[['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']]))

StandardScaler()

In [56]:
x[['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']]=scaler.transform(x[['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']])

In [129]:
import sklearn.model_selection
from sklearn.metrics import accuracy_score

xtrain,xtest,ytrain,ytest=sklearn.model_selection.train_test_split(x,y,test_size=.20,random_state=3)

In [130]:
from sklearn.neighbors import KNeighborsClassifier

In [188]:
model1 = KNeighborsClassifier(n_neighbors=10,p=2)

In [189]:
model1.fit(xtrain,ytrain.Type.ravel())

KNeighborsClassifier(n_neighbors=10)

In [190]:
predict_train=model1.predict(xtrain)
accuracy_score(ytrain,predict_train)

0.6900584795321637

In [191]:
predict_test=model1.predict(xtest)
accuracy_score(ytest,predict_test)

0.6976744186046512

In [167]:
from sklearn.model_selection import cross_val_score, GridSearchCV

gridsearch=GridSearchCV(
        estimator=KNeighborsClassifier(),
        param_grid={
            'n_neighbors': [1, 2,3,4,5,6,7,8,9],
            'p':[1, 2],
            },
        cv=10, verbose=0,n_jobs=-1)

In [192]:
grid_result=gridsearch.fit(xtrain, ytrain.Type.ravel())
best_params = grid_result.best_params_
best_params

C:\Users\Sanchi\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

{'n_neighbors': 1, 'p': 1}

In [193]:
model2 = KNeighborsClassifier(n_neighbors=1,p=1)

In [197]:
model2.fit(xtrain,ytrain.Type.ravel())

KNeighborsClassifier(n_neighbors=1, p=1)

In [198]:
predict_train2=model2.predict(xtrain)
accuracy_score(ytrain,predict_train2)

1.0

In [201]:
predict_test2=model2.predict(xtest)
accuracy_score(ytest,predict_test2)

0.813953488372093

In [218]:
score=cross_val_score(model2,x,y.Type.ravel(),cv=20)
score

C:\Users\Sanchi\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 9 members, which is less than n_splits=20.
  % (min_groups, self.n_splits)), UserWarning)

array([0.63636364, 1.        , 0.63636364, 0.63636364, 0.63636364,
       0.90909091, 0.81818182, 0.72727273, 0.63636364, 0.54545455,
       0.72727273, 0.54545455, 0.72727273, 0.81818182, 0.7       ,
       0.6       , 0.7       , 0.8       , 0.7       , 0.6       ])

In [219]:
score.mean()

0.7049999999999998